<!Doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link href='{{ url_for("static", filename="css/reset.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/index.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/ui.css") }}' rel="stylesheet">
    <script src="https://unpkg.com/fxjs/dist/fx.js"></script>
    <script>const {L, C} = window._;</script>
    <script src='{{ url_for("static", filename="js/index.js") }}'></script>
    <script src='{{ url_for("static", filename="js/like.js") }}'></script>
    <script src='{{ url_for("static", filename="js/scroll.js") }}'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JS -->

    <title>Devom - 개발자 커뮤니티 | 프로필페이지</title>

    <style>
        .name_hash {
            padding: 1rem 1.5rem;
            max-width: 750px;
            margin: auto;
        }

        button:disabled {
            opacity: 0.5;
        }

        button:active {
            border-colorcolor: transparent
        }


    </style>

    <script>

        {% if session['username'] %}
            const USER_NAME = '{{ session['username'] }}';

        {% else %}
            const USER_NAME = 'Guest';
        {% endif %}
        $(document).ready(function () {
            let token = $.cookie('mytoken');
            if (token !== undefined) {
                //post_hash();
                post_by_all()
                $(".login > small").text("로그아웃");
                $('.login').prop('href', 'javascript:void(0)')
                $('.login').attr('onclick', 'sign_out()')
            } else {
                alert("로그인 후에 사용하실 수 있습니다.");
                window.location.href = "/";
            }
        })

        function post_hash() {
            $.ajax({
                type: "GET",
                url: "/post/hash",
                success: function (response) {
                    let hashList = response["hash_tags"];
                    for (let i = 0; i < hashList.length; i++) {
                        console.log(hashList[i]);
                        let tmp_html = `<button class="hashbtn" onclick='post_by_hash("${hashList[i]}")'>#${hashList[i]}</button>`
                        $('#hash_folder').append(tmp_html);
                    }
                }
            })
        }


        function post_by_all(sortOption = "new") {
            $('#post-box').empty();
            $.ajax({
                type: "GET",
                url: "/post/profile/all",
                data: {
                    count: 10,
                    sortOption: sortOption
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        let posts = response["posts"]
                        for (let i = 0; i < posts.length; i++) {
                            let post = posts[i]
                            let class_heart = post['heart_by_me'] ? "fa-heart" : "fa-heart-o"
                            let image_list = post["s3_image_list"];
                            let comment_list = post["comment_list"];
                            let hash_list = post['hash_tags']
                            let image_temp = ``;
                            let comment_temp = ``;
                            let hash_temp = ``;
                            const postId = post['_id'];
                            for (const file of image_list) {
                                let temp = `<div class="img_frame">
                                            <img src="data:image;base64, ${file}"/></li>
                                        </div>`;
                                image_temp = image_temp + temp;
                            }
                            for (let j = 0; j < comment_list.length; j++) {
                                let time_post = new Date(comment_list[j]["date"])
                                let time_before = time2str(time_post)
                                console.log(response["session"], comment_list[j]['username'])
                                let temp = `<div class="comment_frame" id="${comment_list[j]["_id"]}">
                                        <figure class="user_img">
                                                    ${comment_list[j]['comment_user_img'] ?
                                    `<img src="data:image;base64, ${comment_list[j]['comment_user_img']}"
                                                             alt="${comment_list[j]['username']}"/>`
                                    : `<img src="/static/profile_pics/profile_placeholder.png" alt="${comment_list[j]['username']}"/>`}
                                                </figure>
                                        <div class="comment_detail">
                                            <p class="user_name">
                                                <strong>${comment_list[j]['profile_name']}</strong>
                                                <small style="font-size: xx-small">@${comment_list[j]['username']}</small>
                                                <small class="time contour left">${time_before}</small>
                                                 ${response["session"] === comment_list[j]['username'] ?
                                    `<small class="feed_info">
                                                                <span onclick="commentDelete('${comment_list[j]["_id"]}')"
                                                                          class="time contour deleter">| 삭제</span>
                                                                </small>` : ``}
                                            </p>
                                            <p class="user_comment">${comment_list[j]['comment']}</p>
                                        </div>
                                    </div>`


                                comment_temp = comment_temp + temp;
                            }
                            for (let j = 0; j < hash_list.length; j++) {
                                let temp = `<div class="hash_item">
                                            <a><small >#${hash_list[j]}</small></a>
                                        </div>`;
                                hash_temp = hash_temp + temp;
                            }
                            let time_post = new Date(post["date"])
                            let time_before = time2str(time_post)
                            let html_temp = `<div class="feed_frame" id="${post['_id']}">
                            <article class="feed">
                                <div class="media user_info">
                                    <figure class="image user_img">
                                            <div class="user_img">
                                                ${post['post_user_img'] ? `<img src="data:image;base64, ${post['post_user_img']}"
                                                         alt="${post['profile_name']}"/>` :
                                `<img src="/static/profile_pics/profile_placeholder.png"   alt="${post['profile_name']}"/>`}

                                        </figure>
                                    <div class="text_area">
                                        <p class="user_name">
                                            <strong>${post['profile_name']}</strong>
                                            <small style="font-size: xx-small">@${post['username']}</small>
                                        </p>
                                        <p class="feed_info">
                                            <span class="time">${time_before}</span>
                                            <span class="like_count left contour">좋아요 ${num2str(post['count_heart'])}</span>
                                            ${post['username'] == USER_NAME
                                ? `<span class="info_unit contour"><a href="/write?post_id=${postId}">수정</a></span>
                                                   <span onclick="postDelete('${postId}')" class="info_unit contour post_delete">삭제</span>`
                                : ``}
                                        </p>

                                    </div>
                                </div>
                                <div class="like_btn_area">
                                    <a class="level-item is-sparta like_btn" aria-label="heart" onclick="toggle_like('${post['_id']}', 'heart')">
                                        <strong class="is-sparta">
                                            <i style="color:crimson" class="fa ${class_heart}"
                                               aria-hidden="true"></i></strong>
                                    </a>
                                </div>
                                <div class="feed_detail">
                                    <p class="detail has_more">
                                        ${post["cut_text"] ? ` <span class="txt">${post["cut_text"]}</span>
                                                <button onclick="more_text(event,'${post["_id"]}')" class="more_btn">
                                                    더보기
                                                </button>` : `<span class="txt">${post["text"]}</span>`}
                                    </p>

                                    <div class="img_group" onclick="imageModal(this)">
                                        ${image_temp}
                                    </div>
                                    <div class="hash_group is_flex">
                                        ${hash_temp}
                                    </div>
                                </div>
                            </article>
                            <div class="feed_comment">
                                <div class="comment_group">
                                    ${comment_temp}
                                </div>
                                <div class="input_wrap">
                                    <div class="input_area gray_type is_flex">
                                        <label class="${post['_id']}">
                                            <input type="text" placeholder="댓글을 입력하세요" maxlength="100">
                                        </label>
                                        <button type="submit" onclick="comment('${post['_id']}')">
                                            입력
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>`
                            if (post["count_comment"] > 3) {
                                html_temp = `<div class="feed_frame" id="${post['_id']}">
                            <article class="feed">
                                <div class="media user_info">
                                    <figure class="image user_img">
                                        <img src="/static/${post['profile_placeholder']}" alt="Image">
                                    </figure>
                                    <div class="text_area">
                                        <p class="user_name">
                                            <strong>${post['profile_name']}</strong>
                                            <small style="font-size: xx-small">@${post['username']}</small>
                                        </p>
                                        <p class="feed_info">
                                            <span class="time">${time_before}</span>
                                            <span class="like_count left contour">좋아요 ${num2str(post['count_heart'])}</span>
                                        </p>

                                    </div>
                                </div>
                                <div class="like_btn_area">
                                    <a class="level-item is-sparta like_btn" aria-label="heart" onclick="toggle_like('${post['_id']}', 'heart')">
                                        <strong class="is-sparta">
                                            <i style="color:crimson" class="fa ${class_heart}"
                                               aria-hidden="true"></i></strong>
                                    </a>
                                </div>
                                <div class="feed_detail">
                                    <p class="detail has_more">
                                        ${post["cut_text"] ? ` <span class="txt">${post["cut_text"]}</span>
                                                <button onclick="more_text(event,'${post["_id"]}')" class="more_btn">
                                                    더보기
                                                </button>` : `<span class="txt">${post["text"]}</span>`}
                                    </p>

                                    <div class="img_group">
                                        ${image_temp}
                                    </div>
                                    <div class="hash_group is_flex">
                                        ${hash_temp}
                                    </div>
                                </div>
                            </article>
                            <div class="feed_comment">
                                <div class="comment_group">
                                    ${comment_temp}
                                    <diV style="width: 100%; display: flex; align-items: center; justify-content: center;">
                                            <button style="border: 0px;"  class="more_btn" onclick="toggle_comment()">
                                                <img width="15" height="15" src="/static/profile_pics/more_icon.png">
                                            </button>
                                        </div>
                                </div>
                                <div class="input_wrap">
                                    <div class="input_area gray_type is_flex">
                                        <label class="${post['_id']}">
                                            <input type="text" placeholder="댓글을 입력하세요" maxlength="100">
                                        </label>
                                        <button type="submit" onclick="comment('${post['_id']}')">
                                            입력
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>`
                            }
                            $("#post-box").append(html_temp)

                        }
                    }
                }

            })
        }


        function post_by_hash(hash) {
            $('#post-box').empty();
            console.log("hello");
            $.ajax({
                type: "GET",
                url: "/post/profile?hash_give=" + hash,
                success: function (response) {
                    if (response["result"] == "success") {
                        let posts = response["posts"]
                        for (let i = 0; i < posts.length; i++) {
                            let post = posts[i]
                            let class_heart = post['heart_by_me'] ? "fa-heart" : "fa-heart-o"
                            let image_list = post["s3_image_list"];
                            let comment_list = post["comment_list"];
                            let image_temp = ``;
                            let comment_temp = ``;
                            console.log(comment_list)
                            for (const file of image_list) {
                                let temp = `<div class="img_frame">
                                                                <img src="data:image;base64, ${file}"/></li>
                                                            </div>`;
                                image_temp = image_temp + temp;

                            }
                            for (let j = 0; j < comment_list.length; j++) {
                                let time_post = new Date(comment_list[j]["date"])
                                let time_before = time2str(time_post)
                                let temp = `<div class="comment_frame" id="${comment_list[j]["_id"]}">
                                                            <figure class="user_img">
                                                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                                            </figure>
                                                            <div class="comment_detail">
                                                                <p class="user_name">
                                                                    <strong>${comment_list[j]['profile_name']}</strong>
                                                                    <small style="font-size: xx-small">@${comment_list[j]['username']}</small>
                                                                    <small class="time contour left">${time_before}</small>
                                                                </p>
                                                                <p class="user_comment">${comment_list[j]['comment']}</p>
                                                            </div>
                                                        </div>`

                                comment_temp = comment_temp + temp;
                            }
                            let time_post = new Date(post["date"])
                            let time_before = time2str(time_post)
                            let html_temp = `<div class="feed_frame" id="${post['_id']}">
                                                <article class="feed">
                                                    <div class="media user_info">
                                                        <figure class="image user_img">
                                                            <img src="/static/${post['profile_placeholder']}" alt="Image">
                                                        </figure>
                                                        <div class="text_area">
                                                            <p class="user_name">
                                                                <strong>${post['profile_name']}</strong>
                                                                <small style="font-size: xx-small">@${post['username']}</small>
                                                            </p>
                                                            <p class="feed_info">
                                                                <span class="time">${time_before}</span>
                                                                <span class="like_count left contour">좋아요 ${num2str(post['count_heart'])}</span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="like_btn_area">
                                                        <a class="level-item is-sparta like_btn" aria-label="heart" onclick="toggle_like('${post['_id']}', 'heart')">
                                                            <strong class="is-sparta">
                                                                <i style="color:crimson" class="fa ${class_heart}"
                                                                   aria-hidden="true"></i></strong>
                                                        </a>
                                                    </div>
                                                    <div class="feed_detail">
                                                        <p class="detail has_more">
                                                            <span class="txt">${post["text"]}</span>
                                                            <button class="more_btn">
                                                                더보기
                                                            </button>
                                                        </p>

                                                        <div class="img_group">
                                                            ${image_temp}
                                                        </div>
                                                    </div>
                                                </article>
                                                <div class="feed_comment">
                                                    <div class="comment_group">
                                                        ${comment_temp}
                                                    </div>
                                                    <div class="input_wrap">
                                                        <div class="input_area gray_type is_flex">
                                                            <label class="${post['_id']}">
                                                                <input type="text" placeholder="댓글을 입력하세요" maxlength="100">
                                                            </label>
                                                            <button type="submit" onclick="comment('${post['_id']}')">
                                                                입력
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>`
                            $("#post-box").append(html_temp)
                        }
                    }
                }
            })
        }

    </script>
</head>

<body>
<div id="wrap">
    <div id="container">
        <div id="contents">
            <header>

                <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation"
                     style="padding: 0px;">
                    <div class="input-group">
                        <input id="search_hash" style="font-size: 12px" type="text" class="form-control"
                               placeholder="검색 키워드를 입력하세요!">
                        <span class="input-group-btn">
                                <button onclick="execSearch()" style="width: 30px; height: 30px; padding: 0px;"
                                        class="btn btn-secondary" type="button"><i style="margin: 0px;"
                                                                                   class="fa fa-search"
                                                                                   aria-hidden="true"></i></button>

                            </span>
                    </div>
                    <div class="navbar-brand" style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
                        <a class="navbar-item" href="/" style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px;">

                            <strong class="is-sparta"
                                    style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i
                                    style="color:black" class="fa fa-list" aria-hidden="true"></i></strong>
                        </a>
                        <button class="navbar-item" href="/write" onclick="location_change('/write')"
                                style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px; border: 0px;">
                            <strong class="is-sparta"
                                    style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i
                                    style="color:darkblue" class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i></strong>

                        </button>
                        <button class="navbar-item" href="/like_list" onclick="location_change('/like_list')"
                                style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px; border: 0px;">
                            <strong class="is-sparta"
                                    style="font-family: 'Stylish', sans-serif;font-size: 28px;">
                                <i style="color:crimson"
                                   class="fa fa-heart"
                                   aria-hidden="true"></i></strong>
                        </button>
                        <button class="navbar-item" href="/profile" onclick="location_change('/profile')"
                                style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px; border: 0px;">
                            <strong class="is-sparta"
                                    style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i style="color:gray"
                                                                                                   class="fa fa-user"
                                                                                                   aria-hidden="true"></i></strong>
                        </button>

                    </div>
                    <a class="login" href="/" style="margin-right: 20px">
                        <small class="is-sparta"
                               style="font-family: 'Black Han Sans', sans-serif;font-size: small;">로그인</small>
                    </a>

                </nav>
            </header>

            <main>
                <aside class="user_side">
                    <section class="main_user_profile_sec">
                        {% if my_info == False %}
                            <div class="user_info">
                                <div class="user_img">
                                    <img src="{{ url_for('static',filename='profile_pics/profile_placeholder.png') }}">
                                </div>
                                <p class="no_data">회원 정보가 없습니다</p>
                            </div>
                            <div class="btn_area">
                                <a href="/login" class="btn white">로그인</a>
                            </div>
                        {% else %}
                            <div class="user_info">
                                <button onclick="modalShow('#usereditModal')" class="edit_btn">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <div class="user_img">
                                    {% if my_info['edit_my_img'] %}
                                        <img src="data:image;base64, {{ my_info['edit_my_img'] }}"/>
                                    {% else %}
                                        <img src="{{ url_for("static", filename="profile_pics/profile_placeholder.png") }}"
                                             alt="{{ my_info['nickname'] }}"/>
                                    {% endif %}
                                </div>
                                <p class="user_name">
                                    <span class="contour name">{{ my_info['name'] }}</span>
                                    <span class="contour nick"> {{ my_info['nickname'] }}</span>
                                </p>
                                <p class="user_id id">{{ my_info['username'] }}</p>
                            </div>
                            <div class="btn_area">
                                <a href="/write" class="btn red">글 쓰러가기</a>
                            </div>
                        {% endif %}
                    </section>
                </aside>
                <section class="name_hash">
                    <div id="hash_folder">
                        <button class="hashbtn" onclick='post_by_all()'>#전체</button>
                    </div>
                </section>
                <section id="post-box" class="list_sec">

                </section>
            </main>
        </div>
    </div>
</div>
</body>

</html>