<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link href='{{ url_for("static", filename="css/reset.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/index.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/ui.css") }}' rel="stylesheet">
    <script src='{{ url_for("static", filename="js/index.js") }}'></script>
    <script src='{{ url_for("static", filename="js/like.js") }}'></script>
    <script src='{{ url_for("static", filename="js/write.js") }}'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Devom - 글쓰기</title>

</head>
<body>
<header>

    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation" style="padding: 0px;">
        <div class="input-group">
            <input id="search_hash" style="font-size: 12px" type="text" class="form-control" placeholder="검색 키워드를 입력하세요!">
            <span class="input-group-btn">
                                <button onclick="execSearch()" style="width: 30px; height: 30px; padding: 0px;" class="btn btn-secondary" type="button"><i style="margin: 0px;" class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
        </div>
        <div class="navbar-brand" style="padding: 0px; margin-bottom: 0px; margin-top: 0px;">
            <a class="navbar-item" href="/" style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px;">

                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i
                        style="color:black"  class="fa fa-list" aria-hidden="true"></i></strong>
            </a>
            <a class="navbar-item" href="/write" style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px;">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i
                        style="color:darkblue" class="fa fa-pencil-square-o"
                        aria-hidden="true"></i></strong>

            </a>
            <a class="navbar-item" href="/like_list" style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px;">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i style="color:crimson" class="fa fa-heart" aria-hidden="true"></i></strong>

            </a>
            <a class="navbar-item" href="/profile" style="margin-bottom: 0px; margin-top: 0px; padding: 3px 15px;">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: 28px;"><i style="color:gray"  class="fa fa-user" aria-hidden="true"></i></strong>

            </a>


        </div>
        <a class="login" href="/" style="margin-right: 20px">
            <small class="is-sparta"
                   style="font-family: 'Black Han Sans', sans-serif;font-size: small;">로그인</small>
        </a>

    </nav>
</header>
<div class="w-full py-32 flex justify-center items-center">
    <div class="w-full max-w-[480px] rounded-xl bg-white p-3 flex flex-col gap-3">

        <div id="writeform" class="">
            <textarea placeholder="{{nickname}}님, 무슨생각을 하고 계신가요?" class="w-full h-32 p-2 resize-none focus:outline-0"></textarea>
        </div>

        <div class="w-full h-12 px-3 flex justify-between items-center border border-gray-700 rounded-md">
            <span class="font-semibold">사진 업로드</span>
            <div id="file_toggle_btn" onclick="toggleFileInput()" class="rounded-full w-8 h-8 flex justify-center items-center hover:bg-slate-200 hover:cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
            </div>
        </div>

        <div id="file_input_wrap" class="border border-gray-700 p-2 rounded-md hidden">
            <label id="file_input" for="file" class="bg-gray-100 hover:bg-gray-200 hover:cursor-pointer transition w-full h-48 rounded-md flex justify-center items-center">
                <div class="flex flex-col gap-1">
                    <span class="flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                        </svg>
                    </span>
                    <span class="font-semibold">사진 추가</span>
                </div>
            </label>
            <input type="file" multiple id="file" class="hidden">

            <div id="file_preview" class="relative">
                <div></div>
                <label id="file_input2" for="file" class="absolute font-semibold px-2 left-3 top-3 bg-gray-100 hover:bg-gray-200 hover:cursor-pointer rounded-md h-8 flex justify-center items-center shadow-sm hidden">다시 업로드</label>
                <div onclick="fileInputClose()" id="close_file_input" class="absolute right-3 top-3 bg-gray-100 hover:bg-gray-200 hover:cursor-pointer rounded-full w-8 h-8 flex justify-center items-center shadow-sm hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </div>

        <div>
            <button onclick="post()" class="w-full rounded-md h-10 text-white bg-red-400">게시</button>
        </div>

    </div>
</div>
</body>
</html>